@import '@splidejs/vue-splide/css';
@import 'aos/dist/aos';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Montserrat;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.bg-batik {
  @apply bg-[url('/src/assets/bg-batik.png')] bg-center-cover;
}

.bg-medunten {
  @apply bg-[url('/src/assets/bg-madura.png')] bg-center-cover;
}

.bg-tugu {
  @apply bg-[url('/src/assets/tugu.png')] bg-intact-bottom;
}

.bg-suroboyo {
  @apply bg-[url('/src/assets/suroboyo.png')] bg-intact-bottom;
}

.bg-center-cover {
  @apply bg-center bg-cover bg-intact min-h-screen;
}

.bg-intact {
  @apply bg-no-repeat bg-fixed;
}

.bg-intact-bottom {
  @apply bg-intact bg-right-bottom;
}

ul.timeline {
  @apply relative
}

ul.timeline::before {
  @apply content-['_'] inline-block absolute left-7 w-0.5 h-full z-[5] bg-slate-200;
}

ul.timeline>li {
  @apply my-5 pl-16 min-h-[3rem];
}

ul.timeline>li::before {
  @apply content-['_'] inline-block absolute rounded-full border-2 border-red-400 left-5 w-5 h-5 z-10 bg-white;
}

.stick-time {
  @apply sticky left-0 bg-slate-50;
}